.main {
  background-color: white;
  color: black;
  display: flex;
  flex-wrap: wrap;


}


*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: white;
}

header {
  width: 100%;
}

.MuiToolbar-root {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  width: 100%;
  background-color: #89AEFF;

}

.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.nav__toggler {
  display: none;
}

.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

.grupoBotones {
  display: flex;
  justify-content: space-around;
  align-items: center;


}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }

  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: rgb(0, 33, 65);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}

/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}



/* BOTON REGISTRARSE*/
.registrarse {
  background-color: rgb(3, 95, 170);
  color: white;
  height: 35px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-top: 4px;
}

/*SECCION UNO*/
.sectionPrin {
  margin-top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45vh;
  ;
  margin-top: 5%;
}

.section1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 30vh;
  width: 400px;
  margin-left: 100px;
}

.imagenUno {
  width: 400px;
}

.imagenUno>img {
  width: 400px;
  height: 400px;
}

.financiar {
  background-color: rgb(3, 95, 170);
  color: white;
  height: 35px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-top: 4px;
}

.botonesS1 {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

/*SECCION DOS*/
.sectionDos {
  margin-top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55vh;
  ;
  margin-top: 5%;
  background-color: #89aeff81;
}

.section2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 30vh;
  width: 400px;

}

.imagenDos {
  width: 50%;
  display: flex;
  justify-content: center;
}

/* SECCION TRES*/

.sectionTres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.pasoAPaso {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

/* SECCION cuatro*/


.Seccion3 {
  height: 130vh;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fe9ecc54;

}

#customized-dialog-title {
  background-color: rgba(0, 33, 65, 0.836);
  color: white;
}

.botonesS3 {
  width: 50%;
  display: flex;
  margin-top: 5rem;
  justify-content: space-around;



}

.MuiTypography-rootPrincipal {
  background-color: #89aeff81;
  height: 4vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;


}

.checkIcon {
  color: white;
  background-color: green;
  border-radius: 7px;
  font-size: 10px;
}

.clearIcon {
  color: white;
  background-color: red;
  border-radius: 7px;
}

#MuiButtonBase-root {
  color: white;
  background-color: red;
  width: 6vh;
  height: 3.5vh;
  margin-top: 8px;
}

.MuiButton-label {

  height: 2rem;
  width: 4vh;
  border-radius: 2px;
}


/* PASO A PASO*/
.MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

.MuiTypography-h5 {
  display: flex;
}


/* SECCION PROMO ABOGADOS*/
.sectionPromo {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  color: rgb(0, 33, 65);
}

.imagenPromo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.Promo {
  display: flex;
}



.botonPromo {
  background-color: rgb(3, 95, 170);
  color: white;
  height: 35px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-top: 4px;
}

.ActionPromo {
  display: flex;
  width: 200px;
  justify-content: center;
}



/* TRIBUTO*/
.sectionTributo {
  margin-top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  ;
  ;
}

.sectionTributo2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 30vh;
  margin-left: 20px;


}

.imagenTributo {
  width: 90%;
  display: flex;
  justify-content: center;
}

/* TESTIMONIOS*/

.testimonials {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}


/* FOOTTER*/

footer {
  background-color: rgb(0, 33, 65);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 11.6vh;
  margin-top: 40px;
}

.iconos {
  width: 130px;
  display: flex;
  justify-content: space-around;
}

.flagsNames > img {
  width: 40px;
  height: 40px;
}
.widthMenu{
  width: 80px;
}


/* BLOG*/
.cajaSearch{
  display: flex;
  background: black;
  margin-top: 5px;
  justify-content: center;
}

.cajaSecctiones{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  margin-top: 50px;
}




/* TERMINOS Y CONDICIONES*/
/* SECCION 1*/
.TermCS1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  height: 89vh;
}

.legalify-section__content{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-top: 40px;
}

.img1{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Seccion1TC{
  display: flex;
  align-items: center;
  justify-content: center;

}


/* SECCION 2*/
.ContenedorGeneral{
display: flex;
gap: 2rem;
margin-top: 20px;
margin-bottom: 50px;
height: 100vh;
}

.ContenedorMedio{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1rem;
}

.PoliticaDePrivacidad{
  display: flex;
  flex-direction: column;
  background-color: #0A4273;
  justify-content: space-around;
  align-items: center;
  width: 34%;
  color: white;
  border-radius: 8px;
}

.itemsP{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* SECCION 3*/

.legalify-section__content3{
  display: flex;
  align-items: center;
  gap:0.5rem
}

.ContenedorGeneralS3{
  display: flex;
  gap: 2rem;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 85vh;
  } 
.ContenedorMedioS3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 80vh;
  }

  .itemsP3{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    margin-top: 40px;
  }

  .Seccion3TC{
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  .itemsS3{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 10px;
  }

  .textListSec4{
    font-size: small;
  }
/* SECCION 5*/
  .itemsP5{
    display: flex;
    flex-direction: column;
    gap: 13rem;
    margin-top: 10rem;
  }

  .ContenedorGeneralS5{
    display: flex;
    gap: 2rem;
    margin-top: 45px;
    margin-bottom: 50px;
    height: 90vh;

  }

  .ContenedorMedioS5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 50vh;
    margin-top: 130px;
  }
  
  .itemsS5{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-left: 10px;
  }

  /* SECCION 6*/

.ContenedorGeneralS6{
  display: flex;
    gap: 2rem;
    margin-top: 45px;
    margin-bottom: 50px;
    height: 95vh;

}

  .ContenedorMedioS6{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 50vh;
    
  }


  .itemsS6{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-left: 10px;
    margin-top: 20rem;
  }



    /* SECCION 9*/


    .legalify-section__content9{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  }

  .ContenedorGeneralS9{
    display: flex;
    gap: 2rem;
    margin-top: 80px;
    margin-bottom: 50px;
    height: 83vh;
  }

  .itemsP9{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 10rem;
  }


  .itemsS9s{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20rem;
    margin-left: 3rem;
  }

  .Seccion9TC{
    display: flex;
    gap: 2rem;
    align-items: flex-end;
  }


      /* SECCION 11*/


  .itemsS11{
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-top: 5rem;
    margin-left: 6rem;
  }

 /* SECCION 12*/  
  .itemsS12{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: -5rem;
    margin-left: 3rem;
  }

  /* SECCION 13*/  
  .itemsS13{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-top: 4rem;
    margin-left: 4rem;
  }


  /* SECCION 14*/  
  .ContenedorMedioS14{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    width: 100%;
    margin-left: 5rem;
  }


  
  .itemsP14{
    display: flex;
    flex-direction: column;
    gap: 12rem;
    margin-top: 60px;
  }


   /* SECCION 15*/  
    
  .itemsP15{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12rem;
    margin-top: 60px;
  }

  /* SECCION 16*/
  .FilaUnoS16{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .itemsS16{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 21rem;
    margin-left: 6rem;
  }